In [ ]:
import pandas as pd
import numpy as np

In [ ]:

# Pigmento
# Ruta al archivo de Excel (aseg√∫rate de ajustar la ruta a tu archivo)
file_path = "C:\\Users\\ArnaldoCarrasco\\Downloads\\FARMA SO.xlsx"

# Cargar el archivo de Excel en un DataFrame
farmacity = pd.read_excel(file_path,sheet_name='BASE')

In [109]:
df=farmacity.copy()
df.columns = df.iloc[0]
df = df[1:]

In [110]:
columns_to_keep = ['Mes', 'Sucursal COD', 'Marca desc', 'Articulo DESC',
                   'CODIGO DE BARRAS', 'OFFLINE, CANTIDAD', 'OFFLINE, IMPORTE',
                   'ONLINE, CANTIDAD', 'ONLINE, IMPORTE']

df = df[columns_to_keep]

In [111]:
df_melted = df.melt(id_vars=['Mes','Marca desc', 'Sucursal COD','Articulo DESC','CODIGO DE BARRAS'],
                          var_name='Parametro',
                          value_name='Valor')

In [112]:
# Split the "Parametro" column into two rows
split_df = df_melted['Parametro'].str.split(',', expand=True)

In [113]:
# Concatenate the split columns back into the original DataFrame
df_melted = pd.concat([df_melted.drop('Parametro', axis=1), split_df], axis=1)

In [114]:
df_melted = df_melted.rename(columns={0: 'ON/OFF', 1: 'Parametro'})

In [115]:
pivoted_df = df_melted.pivot_table(
    index=['Mes', 'Sucursal COD', 'Marca desc', 'Articulo DESC', 'CODIGO DE BARRAS', 'ON/OFF'],
    columns='Parametro',
    values='Valor',
    aggfunc='sum'   # o 'sum', 'mean', etc.
).reset_index()
# pivoted_df = pivoted_df[pivoted_df["CANTIDAD"] != 0]
pivoted_df

Parametro,Mes,Sucursal COD,Marca desc,Articulo DESC,CODIGO DE BARRAS,ON/OFF,CANTIDAD,IMPORTE
0,2024-12-01,2,ADIDAS,EDP ADIDAS ENERGY DRIVE X 100 ML ...,3616305447067,OFFLINE,4.0,138272.7274
1,2024-12-01,2,ADIDAS,EDP ADIDAS ENERGY DRIVE X 100 ML ...,3616305447067,ONLINE,0.0,0.0000
2,2024-12-01,2,ADIDAS,EDP ADIDAS HAPPY FEELS X 100 ML ...,3616305447159,OFFLINE,2.0,70909.0910
3,2024-12-01,2,ADIDAS,EDP ADIDAS HAPPY FEELS X 100 ML ...,3616305447159,ONLINE,0.0,0.0000
4,2024-12-01,2,ADIDAS,EDP ADIDAS SPARK UP FEMALE X 100 ML ...,3616305447210,OFFLINE,2.0,62577.2728
...,...,...,...,...,...,...,...,...
736471,2025-06-01,10333,SALLY HANSEN,FORTALECEDOR SH DIAMOND STRENGTH ...,74170450958,ONLINE,24.0,128945.4580
736472,2025-06-01,10333,SALLY HANSEN,TRATAMIENTO RESTAURADOR SH MIRACLE CURE X 12.7...,74170450873,OFFLINE,0.0,0.0000
736473,2025-06-01,10333,SALLY HANSEN,TRATAMIENTO RESTAURADOR SH MIRACLE CURE X 12.7...,74170450873,ONLINE,37.0,201490.9150
736474,2025-06-01,10333,SALLY HANSEN,TRATAMIENTO UNAS SALLY HANSEN COMPLETE CARE 7 ...,74170450996,OFFLINE,0.0,0.0000
736475,2025-06-01,10333,SALLY HANSEN,TRATAMIENTO UNAS SALLY HANSEN COMPLETE CARE 7 ...,74170450996,ONLINE,23.0,148760.3260

In [116]:
pivoted_df = pivoted_df[pivoted_df[" CANTIDAD"] != 0]
pivoted_df[' CANTIDAD'] = pivoted_df[' CANTIDAD'].astype(int)
pivoted_df[' IMPORTE'] = pivoted_df[' IMPORTE'].astype(int)
pivoted_df['CODIGO DE BARRAS'] = pivoted_df['CODIGO DE BARRAS'].astype(str)

pivoted_df

C:\Users\ArnaldoCarrasco\AppData\Local\Temp\ipykernel_22976\174240979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivoted_df[' CANTIDAD'] = pivoted_df[' CANTIDAD'].astype(int)
C:\Users\ArnaldoCarrasco\AppData\Local\Temp\ipykernel_22976\174240979.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivoted_df[' IMPORTE'] = pivoted_df[' IMPORTE'].astype(int)
C:\Users\ArnaldoCarrasco\AppData\Local\Temp\ipykernel_22976\174240979.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivoted_df['CODIGO DE BARRAS'] = pivoted_df['CODIGO DE BARRAS'].astype(str)

Parametro,Mes,Sucursal COD,Marca desc,Articulo DESC,CODIGO DE BARRAS,ON/OFF,CANTIDAD,IMPORTE
0,2024-12-01,2,ADIDAS,EDP ADIDAS ENERGY DRIVE X 100 ML ...,3616305447067,OFFLINE,4,138272
2,2024-12-01,2,ADIDAS,EDP ADIDAS HAPPY FEELS X 100 ML ...,3616305447159,OFFLINE,2,70909
4,2024-12-01,2,ADIDAS,EDP ADIDAS SPARK UP FEMALE X 100 ML ...,3616305447210,OFFLINE,2,62577
6,2024-12-01,2,ADIDAS,SET EDP ADIDAS CHILL ZONE X 100 ML + SHOWER GE...,3616305827289,OFFLINE,1,35454
8,2024-12-01,2,ADIDAS,SET EDP ADIDAS ENERGY DRIVE X 100 ML + SHOWER ...,3616305827265,OFFLINE,1,35454
...,...,...,...,...,...,...,...,...
736467,2025-06-01,10333,SALLY HANSEN,ESMALTE SH - MG WINE STOCK 479 X 14.7 ML ...,74170423266,ONLINE,14,80991
736469,2025-06-01,10333,SALLY HANSEN,ESMALTE SH MIRACLE GEL TOP COAT SHINY 3.0 ...,74170469813,ONLINE,71,425206
736471,2025-06-01,10333,SALLY HANSEN,FORTALECEDOR SH DIAMOND STRENGTH ...,74170450958,ONLINE,24,128945
736473,2025-06-01,10333,SALLY HANSEN,TRATAMIENTO RESTAURADOR SH MIRACLE CURE X 12.7...,74170450873,ONLINE,37,201490
736475,2025-06-01,10333,SALLY HANSEN,TRATAMIENTO UNAS SALLY HANSEN COMPLETE CARE 7 ...,74170450996,ONLINE,23,148760

In [117]:
pivoted_df = pivoted_df.rename(columns={'Mes': 'Fecha', 'Sucursal COD': 'Punto de Venta','Marca desc': 'Marca','Articulo DESC':'Desc Prod','CODIGO DE BARRAS':'Ean',' CANTIDAD':'Cantidad',' IMPORTE':'Importe Neto','ON/OFF':'Tipo de venta'})
pivoted_df

Parametro,Fecha,Punto de Venta,Marca,Desc Prod,Ean,Tipo de venta,Cantidad,Importe Neto
0,2024-12-01,2,ADIDAS,EDP ADIDAS ENERGY DRIVE X 100 ML ...,3616305447067,OFFLINE,4,138272
2,2024-12-01,2,ADIDAS,EDP ADIDAS HAPPY FEELS X 100 ML ...,3616305447159,OFFLINE,2,70909
4,2024-12-01,2,ADIDAS,EDP ADIDAS SPARK UP FEMALE X 100 ML ...,3616305447210,OFFLINE,2,62577
6,2024-12-01,2,ADIDAS,SET EDP ADIDAS CHILL ZONE X 100 ML + SHOWER GE...,3616305827289,OFFLINE,1,35454
8,2024-12-01,2,ADIDAS,SET EDP ADIDAS ENERGY DRIVE X 100 ML + SHOWER ...,3616305827265,OFFLINE,1,35454
...,...,...,...,...,...,...,...,...
736467,2025-06-01,10333,SALLY HANSEN,ESMALTE SH - MG WINE STOCK 479 X 14.7 ML ...,74170423266,ONLINE,14,80991
736469,2025-06-01,10333,SALLY HANSEN,ESMALTE SH MIRACLE GEL TOP COAT SHINY 3.0 ...,74170469813,ONLINE,71,425206
736471,2025-06-01,10333,SALLY HANSEN,FORTALECEDOR SH DIAMOND STRENGTH ...,74170450958,ONLINE,24,128945
736473,2025-06-01,10333,SALLY HANSEN,TRATAMIENTO RESTAURADOR SH MIRACLE CURE X 12.7...,74170450873,ONLINE,37,201490
736475,2025-06-01,10333,SALLY HANSEN,TRATAMIENTO UNAS SALLY HANSEN COMPLETE CARE 7 ...,74170450996,ONLINE,23,148760

In [118]:
import pandas as pd

# --- 1) Asegurar que 'fecha' sea datetime ---
# Si tus fechas est√°n en formato d√≠a/mes/a√±o (com√∫n en AR), usa dayfirst=True.
pivoted_df["Fecha"] = pd.to_datetime(pivoted_df["Fecha"], errors="coerce", dayfirst=True)

# Opcional: filtrar al rango especificado (dic-2024 a jun-2025)
mask = (pivoted_df["Fecha"] >= "2024-12-01") & (pivoted_df["Fecha"] < "2025-07-01")
df = pivoted_df.loc[mask].copy()

# --- 2) Agrupar por mes y generar dataframes nombrados 42_YYYYMM ---
dfs_por_mes = {}
for per, grp in df.groupby(df["Fecha"].dt.to_period("M")):
    nombre = f"42_{per.strftime('%Y%m')}"   # ejemplo: 42_202504
    dfs_por_mes[nombre] = grp.reset_index(drop=True).copy()

# (OPCIONAL) crear variables en el entorno global con esos nombres
# Nota: mejor usar el diccionario dfs_por_mes; las variables din√°micas son menos mantenibles.
for nombre, dfi in dfs_por_mes.items():
    globals()[nombre] = dfi

# --- 3) Ejemplos de uso ---
# Acceder a abril 2025 desde el diccionario:
df_abril_2025 = dfs_por_mes["42_202504"]

# O bien, si ejecutaste la parte opcional de globals(), ya existe una variable llamada 42_202504:
# 42_202504.head()

# Ver todos los nombres creados:
print(sorted(dfs_por_mes.keys()))

['42_202412', '42_202501', '42_202502', '42_202503', '42_202504', '42_202505', '42_202506']

In [119]:
dfs_por_mes["42_202412"]

Parametro,Fecha,Punto de Venta,Marca,Desc Prod,Ean,Tipo de venta,Cantidad,Importe Neto
0,2024-12-01,2,ADIDAS,EDP ADIDAS ENERGY DRIVE X 100 ML ...,3616305447067,OFFLINE,4,138272
1,2024-12-01,2,ADIDAS,EDP ADIDAS HAPPY FEELS X 100 ML ...,3616305447159,OFFLINE,2,70909
2,2024-12-01,2,ADIDAS,EDP ADIDAS SPARK UP FEMALE X 100 ML ...,3616305447210,OFFLINE,2,62577
3,2024-12-01,2,ADIDAS,SET EDP ADIDAS CHILL ZONE X 100 ML + SHOWER GE...,3616305827289,OFFLINE,1,35454
4,2024-12-01,2,ADIDAS,SET EDP ADIDAS ENERGY DRIVE X 100 ML + SHOWER ...,3616305827265,OFFLINE,1,35454
...,...,...,...,...,...,...,...,...
68392,2024-12-01,10333,SALLY HANSEN,ESMALTE SH - MG WINE STOCK 479 X 14.7 ML ...,74170423266,ONLINE,3,15307
68393,2024-12-01,10333,SALLY HANSEN,ESMALTE SH MIRACLE GEL TOP COAT SHINY 3.0 ...,74170469813,ONLINE,9,47380
68394,2024-12-01,10333,SALLY HANSEN,FORTALECEDOR SH DIAMOND STRENGTH ...,74170450958,ONLINE,22,115343
68395,2024-12-01,10333,SALLY HANSEN,PROTECTOR SH INSTA DRI ANTI CHIP LATIN X 12.76...,74170451177,ONLINE,99,613636
68396,2024-12-01,10333,SALLY HANSEN,TRATAMIENTO RESTAURADOR SH MIRACLE CURE X 12.7...,74170450873,ONLINE,33,174904

In [121]:
# Exportar todos los meses a Excel
for nombre, dfi in dfs_por_mes.items():
    dfi.to_excel(f"{nombre}.xlsx", index=False)

print("‚úÖ Archivos exportados correctamente:", list(dfs_por_mes.keys()))

‚úÖ Archivos exportados correctamente: ['42_202412', '42_202501', '42_202502', '42_202503', '42_202504', '42_202505', '42_202506']