In [9]:
import pandas as pd

# Pigmento
# Ruta al archivo de Excel (aseg√∫rate de ajustar la ruta a tu archivo)
file_path = r"C:\Users\ArnaldoCarrasco\Downloads\soylola202505.xlsx"


# Cargar el archivo de Excel en un DataFrame
lola = pd.read_excel(file_path)

In [10]:
lola

,Articulo Descripcion,Articulo EAN Uni.,SOYLOLA 01,SOYLOLA 02,SOYLOLA 03,SOYLOLA 04,SOYLOLA 05,SOYLOLA 06,SOYLOLA 07,SOYLOLA 08,SOYLOLA 09,SOYLOLA 10,SOY LOLA 11,SOY LOLA 12,SOY LOLA 13,SOY LOLA 14,COSTO
0,ESMALTE RISQUE BIO BASE COUVE KALE,7891350039399,1.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,1823.11650
1,ESMALTE RISQUE BIO GIRASOL 014,7891350039528,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1738.32615
2,ESMALTE RISQUE BIO OCEANO AZUL 011,7891350039498,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1738.32615
3,ESMALTE RISQUE BIO LIRIO BRANCO,7891350039405,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1738.32615
4,ESMALTE RISQUE BIO PIMIENTA CAIENA,7891350039429,2.0,NaN,1.0,3.0,NaN,1.0,NaN,NaN,3.0,NaN,1.0,1.0,1.0,6.0,1738.32615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,EDT PRET A PORTER X 100CC,8413161017053,3.0,1.0,1.0,3.0,2.0,1.0,2.0,NaN,2.0,NaN,1.0,NaN,NaN,NaN,13314.91500
243,BODY SPLASH PRET A PORTER X 75CC,3412242503350,2.0,2.0,3.0,4.0,2.0,NaN,1.0,NaN,1.0,1.0,4.0,NaN,1.0,2.0,5507.05500
244,ESMALTE S.HANSEN FORTALECEDOR CLEAR,74170450774,NaN,NaN,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4663.64880
245,ESMALTE S.HANSEN GEL FRILL SEEKER 184,74170443158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,5935.55535
246,ESMALTE S.HANSEN GEL GET MOD 789,74170423235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5935.55535

In [11]:
lola_melted = lola.melt(id_vars=['Articulo Descripcion','Articulo EAN Uni.','COSTO'],
                    var_name='Punto de Venta',
                    value_name='Cantidad')
lola_melted['Cantidad'] = lola_melted['Cantidad'].fillna(0).astype(int)
lola_melted['Cantidad'] = lola_melted['Cantidad'].astype(int)
lola_melted = lola_melted.drop(lola_melted[lola_melted['Cantidad'] == 0].index)
# Supongamos que tienes un DataFrame llamado "df" con las columnas "Cantidad" y "Costo"
lola_melted["Importe Neto"] = lola_melted["Cantidad"] * lola_melted["COSTO"]
lola_melted = lola_melted.drop("COSTO", axis=1)
lola_melted

,Articulo Descripcion,Articulo EAN Uni.,Punto de Venta,Cantidad,Importe Neto
0,ESMALTE RISQUE BIO BASE COUVE KALE,7891350039399,SOYLOLA 01,1,1823.116500
2,ESMALTE RISQUE BIO OCEANO AZUL 011,7891350039498,SOYLOLA 01,1,1738.326150
4,ESMALTE RISQUE BIO PIMIENTA CAIENA,7891350039429,SOYLOLA 01,2,3476.652300
5,ESMALTE RISQUE BIO CANELA,7891350039443,SOYLOLA 01,1,1738.326150
7,MASCARA RML SCANDALEYES RELOADED,3614222595526,SOYLOLA 01,1,11482.436250
...,...,...,...,...,...
3445,PRET A PORTER PARIS EDP X 100CC,3616305064356,SOY LOLA 14,2,28467.259200
3449,BASE CORRECTOR RML MULTI TASKER 40,3616305714923,SOY LOLA 14,1,13039.456572
3452,PRET A PORTER LONDON EDP X 100CC,3616305064370,SOY LOLA 14,1,14233.629600
3454,BODY SPLASH PRET A PORTER X 75CC,3412242503350,SOY LOLA 14,2,11014.110000
3457,ESMALTE S.HANSEN GEL GET MOD 789,74170423235,SOY LOLA 14,1,5935.555350

In [13]:
lola_melted.to_excel(r"C:\Users\ArnaldoCarrasco\Downloads\lolamelted_202505.xlsx", index=False)